/* Base */

html {
  overflow-x: hidden;
}

body {
  line-height: 1.7;
  color: gray;
  font-weight: 300;
  font-size: 1.1rem;
}

::-moz-selection, ::selection {
  background: #000;
  color: #fff;
}

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;

  &:hover {
    text-decoration: none;
  }
}


.border-2 {
  border-width: 2px;
}

.text-serif {
  font-family: "Dancing Script", sans-serif;
}

.text-black {
  color: #000 !important;
}

.bg-black {
  background: #000 !important;
}

.color-black-opacity-5 {
  color: rgba(0, 0, 0, 0.5);
}

.color-white-opacity-5 {
  color: rgba(255, 255, 255, 0.5);
}

.site-wrap:before {
  display: none;
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
  background: rgba(0, 0, 0, 0.6);
  content: "";
  position: absolute;
  z-index: 2000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
}

.offcanvas-menu .site-wrap {
  height: 100%;
  width: 100%;
  z-index: 2;

  &:before {
    opacity: 1;
    visibility: visible;
  }
}

.line-height-1 {
  line-height: 1 !important;
}

.bg-black {
  background: #000;
}

.site-section {
  padding: 2.5em 0;

  &.site-section-sm {
    padding: 4em 0;
  }
}

@media (min-width: 768px) {
  .site-section {
    padding: 5em 0;
  }
}

.site-section-heading {
  padding-bottom: 20px;
  margin-bottom: 0px;
  position: relative;
  font-size: 2.5rem;
}

@media (min-width: 768px) {
  .site-section-heading {
    font-size: 3rem;
  }
}

.border-top {
  border-top: 1px solid #edf0f5 !important;
}

.site-footer {
  padding: 4em 0;

  h2, h3, h4, h5 {
    color: #000;
  }

  a {
    color: #999999;

    &:hover {
      color: black;
    }
  }

  ul li {
    margin-bottom: 10px;
  }

  .footer-heading {
    font-size: 16px;
    color: #000;
    text-transform: uppercase;
    font-weight: 900;
  }
}

@media (min-width: 768px) {
  .site-footer {
    padding: 8em 0;
  }
}

.bg-text-line {
  display: inline;
  background: #000;
  -webkit-box-shadow: 20px 0 0 #000, -20px 0 0 #000;
  box-shadow: 20px 0 0 #000, -20px 0 0 #000;
}

.text-white-opacity-05 {
  color: rgba(255, 255, 255, 0.5);
}

.text-black-opacity-05 {
  color: rgba(0, 0, 0, 0.5);
}

.hover-bg-enlarge {
  overflow: hidden;
  position: relative;

  > div {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .8s all ease-in-out;
    -o-transition: .8s all ease-in-out;
    transition: .8s all ease-in-out;
  }

  &:hover > div, &:focus > div, &:active > div {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
}

@media (max-width: 991.98px) {
  .hover-bg-enlarge {
    height: auto !important;
  }
}

@media (max-width: 991.98px) {
  .hover-bg-enlarge .bg-image-md-height {
    height: 300px !important;
  }
}

.bg-image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  &.overlay {
    position: relative;

    &:after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 0;
      width: 100%;
      background: rgba(16, 137, 255, 0.8);
    }
  }

  > .container {
    position: relative;
    z-index: 1;
  }
}

@media (max-width: 991.98px) {
  .img-md-fluid {
    max-width: 100%;
  }
}

@media (max-width: 991.98px) {
  .display-1, .display-3 {
    font-size: 3rem;
  }
}

.play-single-big {
  width: 90px;
  height: 90px;
  display: inline-block;
  border: 2px solid #fff;
  color: #fff !important;
  border-radius: 50%;
  position: relative;
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;

  > span {
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-40%, -50%);
    -ms-transform: translate(-40%, -50%);
    transform: translate(-40%, -50%);
  }

  &:hover {
    width: 120px;
    height: 120px;
  }
}

.overlap-to-top {
  margin-top: -150px;
}

.ul-check {
  margin-bottom: 50px;

  li {
    position: relative;
    padding-left: 35px;
    margin-bottom: 15px;
    line-height: 1.5;

    &:before {
      left: 0;
      font-size: 20px;
      top: -.3rem;
      font-family: "icomoon";
      content: "\e5ca";
      position: absolute;
    }
  }

  &.white li:before {
    color: #fff;
  }

  &.success li:before {
    color: #8bc34a;
  }

  &.primary li:before {
    color: #1089ff;
  }
}

.select-wrap, .wrap-icon {
  position: relative;
}

.select-wrap .icon, .wrap-icon .icon {
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 22px;
}

.select-wrap select, .wrap-icon select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
}

/* Navbar */

.site-logo {
  font-size: 2rem;
  text-transform: uppercase;

  strong {
    font-weight: 900;
  }
}

.site-navbar {
  font-family: "Oswald", sans-serif;
  margin-bottom: 0px;
  z-index: 1999;
  width: 100%;

  .container-fluid {
    padding-left: 7rem;
    padding-right: 7rem;
  }

  .site-navigation {
    &.border-bottom {
      border-bottom: 1px solid #f3f3f4 !important;
    }

    .site-menu {
      margin-bottom: 0;

      .active > a {
        color: #fff;
        display: inline-block;
        padding: 5px 0px;
        margin-left: 20px;
        margin-right: 20px;
        position: relative;

        &:before {
          width: 100%;
          content: "";
          height: 2px;
          left: 0;
          bottom: 0;
          background-color: #fff;
        }
      }

      a {
        text-decoration: none !important;
        display: inline-block;
      }

      > li {
        display: inline-block;

        .desc {
          font-size: 12px;
          color: #969696;
        }

        > a {
          text-transform: uppercase;
          font-size: 16px;
          letter-spacing: .05rem;
          font-weight: 900;
          padding: 20px 20px;
          color: #fff;
          display: inline-block;
          text-decoration: none !important;

          &:hover {
            color: #fff;
          }
        }
      }

      .has-children {
        position: relative;

        > a {
          position: relative;
          padding-right: 20px;

          &:before {
            position: absolute;
            content: "\e313";
            font-size: 16px;
            top: 50%;
            right: 0;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            font-family: 'icomoon';
          }
        }

        .dropdown {
          visibility: hidden;
          opacity: 0;
          top: 100%;
          position: absolute;
          text-align: left;
          border-top: 2px solid #000;
          -webkit-box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
          border-left: 1px solid #edf0f5;
          border-right: 1px solid #edf0f5;
          border-bottom: 1px solid #edf0f5;
          padding: 0px 0;
          margin-top: 20px;
          margin-left: 0px;
          background: #fff;
          -webkit-transition: 0.2s 0s;
          -o-transition: 0.2s 0s;
          transition: 0.2s 0s;

          &.arrow-top {
            position: absolute;

            &:before {
              bottom: 100%;
              left: 20%;
              border: solid transparent;
              content: " ";
              height: 0;
              width: 0;
              position: absolute;
              pointer-events: none;
              border-color: rgba(136, 183, 213, 0);
              border-bottom-color: #fff;
              border-width: 10px;
              margin-left: -10px;
            }
          }

          a {
            font-size: 16px;
            text-transform: none;
            letter-spacing: normal;
            -webkit-transition: 0s all;
            -o-transition: 0s all;
            transition: 0s all;
            color: #343a40;
          }

          .active > a {
            color: #1089ff !important;
          }

          > li {
            list-style: none;
            padding: 0;
            margin: 0;
            min-width: 200px;

            > a {
              padding: 9px 20px;
              display: block;

              &:hover {
                background: #f4f5f9;
                color: #25262a;
              }
            }

            &.has-children {
              > {
                a:before {
                  content: "\e315";
                  right: 20px;
                }

                .dropdown, ul {
                  left: 100%;
                  top: 0;
                }
              }

              &:hover > a, &:active > a, &:focus > a {
                background: #f4f5f9;
                color: #25262a;
              }
            }
          }
        }

        &:hover > a, &:focus > a, &:active > a {
          color: #000;
        }

        &:hover, &:focus, &:active {
          cursor: pointer;
        }

        &:hover > .dropdown, &:focus > .dropdown, &:active > .dropdown {
          -webkit-transition-delay: 0s;
          -o-transition-delay: 0s;
          transition-delay: 0s;
          margin-top: 0px;
          visibility: visible;
          opacity: 1;
        }
      }

      &.site-menu-dark > li > a {
        color: #000;
      }
    }
  }
}

.site-mobile-menu {
  width: 300px;
  position: fixed;
  right: 0;
  z-index: 2000;
  padding-top: 20px;
  background: #fff;
  height: calc(100vh);
  -webkit-transform: translateX(110%);
  -ms-transform: translateX(110%);
  transform: translateX(110%);
  -webkit-box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
}

.offcanvas-menu .site-mobile-menu {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}

.site-mobile-menu {
  .site-mobile-menu-header {
    width: 100%;
    float: left;
    padding-left: 20px;
    padding-right: 20px;

    .site-mobile-menu-close {
      float: right;
      margin-top: 8px;

      span {
        font-size: 30px;
        display: inline-block;
        padding-left: 10px;
        padding-right: 0px;
        line-height: 1;
        cursor: pointer;
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease;

        &:hover {
          color: #25262a;
        }
      }
    }

    .site-mobile-menu-logo {
      float: left;
      margin-top: 10px;
      margin-left: 0px;

      a {
        display: inline-block;
        text-transform: uppercase;

        img {
          max-width: 70px;
        }

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  .site-mobile-menu-body {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    position: relative;
    padding: 0 20px 20px 20px;
    height: calc(100vh - 52px);
    padding-bottom: 150px;
  }

  .site-nav-wrap {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;

    a {
      padding: 10px 20px;
      display: block;
      position: relative;
      color: #212529;

      &:hover {
        color: #1089ff;
      }
    }

    li {
      position: relative;
      display: block;

      &.active > a {
        color: #fff;
      }
    }

    .arrow-collapse {
      position: absolute;
      right: 0px;
      top: 10px;
      z-index: 20;
      width: 36px;
      height: 36px;
      text-align: center;
      cursor: pointer;
      border-radius: 50%;

      &:hover {
        background: #f8f9fa;
      }

      &:before {
        font-size: 12px;
        z-index: 20;
        font-family: "icomoon";
        content: "\f078";
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%) rotate(-180deg);
        -ms-transform: translate(-50%, -50%) rotate(-180deg);
        transform: translate(-50%, -50%) rotate(-180deg);
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease;
      }

      &.collapsed:before {
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
      }
    }

    > li {
      display: block;
      position: relative;
      float: left;
      width: 100%;

      > {
        a {
          padding-left: 20px;
          font-size: 20px;
        }

        ul {
          padding: 0;
          margin: 0;
          list-style: none;

          > li {
            display: block;

            > {
              a {
                padding-left: 40px;
                font-size: 16px;
              }

              ul {
                padding: 0;
                margin: 0;

                > li {
                  display: block;

                  > a {
                    font-size: 16px;
                    padding-left: 60px;
                  }
                }
              }
            }
          }
        }
      }
    }

    &[data-class="social"] {
      float: left;
      width: 100%;
      margin-top: 30px;
      padding-bottom: 5em;

      > li {
        width: auto;

        &:first-child a {
          padding-left: 15px !important;
        }
      }
    }
  }
}

.sticky-wrapper {
  position: absolute;
  z-index: 100;
  width: 100%;
  background: #fff;

  + .site-blocks-cover {
    margin-top: 140px;
    margin-top: 0px;
  }

  .site-navbar {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    background: #1089ff;

    .site-logo a {
      color: #000;
    }

    .site-menu > li {
      display: inline-block;

      > a.active {
        color: #fff;
        position: relative;

        &:after {
          height: 2px;
          background: #fff;
          content: "";
          position: absolute;
          bottom: 0;
          left: 20px;
          right: 20px;
        }
      }

      &.active > a {
        color: #fff;
        position: relative;

        &:before {
          content: "";
          position: absolute;
          bottom: 0;
          height: 2px;
          background: #fff;
        }
      }
    }
  }

  &.is-sticky .site-navbar {
    -webkit-box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.2);
    box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.2);

    .site-logo a {
      color: #000;
    }

    .site-menu > li {
      display: inline-block;

      > a {
        padding: 5px 0px;
        margin-left: 20px;
        margin-right: 20px;
        display: inline-block;
        text-decoration: none !important;

        &:hover {
          color: #fff;
        }

        &.active:after {
          background: #1089ff;
        }
      }

      &.active > a {
        color: #fff;
      }
    }
  }

  .shrink {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
}

@media (max-width: 991.98px) {
  .sticky-wrapper {
    display: none;
  }
}

/* Blocks */

.intro-section {
  background-size: cover;
  position: relative;
  height: 100vh;
  min-height: 700px;

  .container .row {
    height: 100vh;
    min-height: 700px;
  }

  &.innerpage {
    height: 75vh;
    min-height: 500px;

    .container .row {
      height: 75vh;
      min-height: 500px;
    }
  }

  &:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: #222;
    opacity: .3;
    border-bottom-right-radius: 0px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  h1 {
    font-size: 3rem;
    font-weight: 300;
    color: #fff;

    strong {
      font-weight: 700;
    }
  }

  p {
    color: #fff;
    font-size: 1.1rem;

    a {
      color: #fff;
      text-decoration: underline;
    }
  }

  .btn {
    text-decoration: none;
  }
}

@media (max-width: 991.98px) {
  .intro-section:before {
    width: 100%;
  }
}

.custom-breadcrumns {
  padding: 20px 0;

  span {
    font-size: 14px;
  }

  a {
    font-size: 14px;
    display: inline-block;
    color: #bdbdbd;

    &:hover {
      color: #1089ff;
    }
  }

  .current {
    color: #1089ff;
  }
}

.section-title-underline {
  color: #000;

  span {
    display: inline-block;
    border-bottom: 4px solid #1089ff;
  }

  &.style-2 {
    color: #fff;

    span {
      border-color: #1089ff;
    }
  }
}

.section-bg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 4rem 0;

  &.style-1 {
    position: relative;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #183661;
      opacity: .9;
      z-index: 0;
    }

    > .container {
      z-index: 2;
    }

    .icon {
      font-size: 3.5rem;
      color: #1089ff;
    }

    h3 {
      font-size: 20px;
      color: #1089ff;
      margin-bottom: 30px;
    }

    p {
      color: #7697c6;
    }
  }
}

.news-updates {
  padding: 5rem 0;

  .section-heading {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 40px;

    h2 {
      margin-bottom: 0;
      line-height: 0;
    }

    a {
      font-size: 16px;
    }
  }

  .post-entry-big {
    .img-link {
      position: relative;
      display: inline-block;
      margin-bottom: 30px;
      overflow: hidden;

      img {
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease;
      }

      &:before {
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        position: absolute;
        content: "";
        background: #000;
        opacity: 0;
        z-index: 2;
        visibility: hidden;
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease;
      }

      img {
        z-index: 1;
      }

      &:hover {
        &:before {
          opacity: .6;
          visibility: visible;
        }

        img {
          -webkit-transform: scale(1.05);
          -ms-transform: scale(1.05);
          transform: scale(1.05);
        }
      }
    }

    .post-content {
      .post-meta a {
        display: inline-block;
        font-size: 13px;
        text-transform: uppercase;
        font-weight: bold;
        color: #939393;
      }

      .post-heading {
        line-height: .9;

        a {
          font-size: 18px;
          font-weight: bold;
          color: #303030;

          &:hover {
            color: #1089ff;
          }
        }
      }
    }

    &.horizontal .img-link {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 90px;
      flex: 0 0 90px;
    }
  }
}

.social-wrap a {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #1089ff;
  position: relative;

  > span {
    position: absolute;
    color: #fff;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  &:hover {
    background: #000;
  }
}

.block-number-1 .icon {
  color: #fff;
  font-size: 2rem;
}

.ftco-testimonial-1 {
  .ftco-testimonial-vcard {
    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }

    h3 {
      font-size: 1.2rem;
      display: block;
      margin-bottom: 0;
      color: #000;
    }
  }

  p {
    color: #a2a2a2;
  }
}

.hero-slide {
  position: relative;

  .owl-nav {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    opacity: 0;
    visibility: hidden;

    .owl-prev, .owl-next {
      position: absolute;
      top: 50%;
      text-align: center;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      background: #fff;
    }

    .owl-prev > span, .owl-next > span {
      font-size: 1.7rem;
      position: absolute;
      top: 50%;
      left: 50%;
      color: #000;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }

    .owl-prev:hover, .owl-next:hover {
      background: #1089ff;
    }

    .owl-prev:hover > span, .owl-next:hover > span {
      color: #fff;
    }

    .owl-prev {
      left: 10px;
    }

    .owl-next {
      right: 10px;
    }
  }

  .owl-dots {
    position: absolute;
    bottom: 30px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    text-align: center;

    .owl-dot {
      display: inline-block;

      > span {
        border-radius: 0%;
        display: inline-block;
        width: 18px;
        height: 4px;
        margin: 2px 5px;
        background: white;
      }

      &.active > span {
        background: #1089ff;
      }
    }
  }

  &:hover .owl-nav {
    opacity: 1;
    visibility: visible;
  }
}

@media (max-width: 991.98px) {
  .hero-slide .owl-nav {
    display: none;
  }
}

.owl-slide-3, .owl-slide {
  position: relative;
}

.owl-slide-3 .owl-stage, .owl-slide .owl-stage {
  padding-top: 30px;
  padding-bottom: 30px;
}

.owl-slide-3 .owl-nav {
  .owl-prev, .owl-next {
    position: absolute;
    top: 50%;
    text-align: center;
    width: 40px;
    height: 40px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background: #fff;
  }
}

.owl-slide .owl-nav {
  .owl-prev, .owl-next {
    position: absolute;
    top: 50%;
    text-align: center;
    width: 40px;
    height: 40px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background: #fff;
  }
}

.owl-slide-3 .owl-nav {
  .owl-prev > span, .owl-next > span {
    font-size: 1.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

.owl-slide .owl-nav {
  .owl-prev > span, .owl-next > span {
    font-size: 1.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

.owl-slide-3 .owl-nav .owl-prev, .owl-slide .owl-nav .owl-prev {
  left: 0;
}

.owl-slide-3 .owl-nav .owl-next, .owl-slide .owl-nav .owl-next {
  right: 0;
}

.owl-slide-3 .owl-dots, .owl-slide .owl-dots {
  position: absolute;
  bottom: -30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  text-align: center;
}

.owl-slide-3 .owl-dots .owl-dot, .owl-slide .owl-dots .owl-dot {
  display: inline-block;
}

.owl-slide-3 .owl-dots .owl-dot > span, .owl-slide .owl-dots .owl-dot > span {
  border-radius: 0%;
  display: inline-block;
  width: 18px;
  height: 4px;
  margin: 2px 5px;
  background: rgba(0, 0, 0, 0.2);
}

.owl-slide-3 .owl-dots .owl-dot.active > span {
  background: #1089ff;
}

.owl-slide {
  .owl-dots .owl-dot.active > span {
    background: #1089ff;
  }

  .owl-nav {
    display: none;
  }
}

.feature-1 {
  .icon-wrapper {
    position: relative;
    width: 96px;
    height: 55.43px;
    right: 0;
    left: 0;
    margin: 0 auto;
    z-index: 1;
    margin-top: -33.94px;
    background: #ccc;

    > span {
      width: 96px;
      height: 96px;
      text-align: center;
      font-size: 3rem;
      line-height: 96px;
      display: inline-block;
      position: absolute;
      top: -20px;
      left: 0;
    }

    &:before, &:after {
      content: "";
      position: absolute;
      z-index: -1;
      width: 67.88px;
      height: 67.88px;
      -webkit-transform: scaleY(0.5774) rotate(-45deg);
      -ms-transform: scaleY(0.5774) rotate(-45deg);
      transform: scaleY(0.5774) rotate(-45deg);
      background-color: inherit;
      left: 14.06px;
    }

    &:before {
      top: -33.94px;
    }

    &:after {
      bottom: -33.94px;
    }
  }

  .feature-1-content {
    padding: 50px 20px 20px 20px;
    text-align: center;

    h2 {
      font-size: 1.3rem;
      color: #000;
    }
  }
}

.course-1-item {
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);

  figure {
    position: relative;
  }

  .category {
    background: #1089ff;
    padding: 20px;

    h3 {
      color: #fff;
      font-size: 20px;
      margin-bottom: 0;
    }
  }

  .price {
    position: absolute;
    bottom: 0;
    right: 0;
    -webkit-transform: translatey(-100%);
    -ms-transform: translatey(-100%);
    transform: translatey(-100%);
    padding: 10px 20px;
    background: #183661;
    color: #fff;
  }

  .course-1-content {
    padding: 20px 40px;
    text-align: center;

    h2 {
      margin: 0 0 30px 0;
      font-size: 18px;
      color: #000;
    }

    .rating {
      text-align: center;

      > span {
        display: inline-block;
        margin: 2px;
      }
    }

    .desc {
      font-size: 15px;
    }
  }
}

.footer {
  padding: 4rem 0;
  background: #000;
  font-size: 15px;
  color: #888;

  .footer-heading {
    font-size: 16px;
    color: #000;
    margin-bottom: 30px;
    text-transform: uppercase;

    > span {
      border-bottom: 2px solid #1089ff;
    }
  }

  ul li {
    margin-bottom: 10px;
  }

  a:hover {
    color: #1089ff;
    text-decoration: underline;
  }

  .copyright {
    padding-top: 7rem;
    text-align: center;
  }
}

.ftco-subscribe-1 {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;

  &:before {
    position: absolute;
    content: "";
    background: #183661;
    opacity: .7;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  > .container {
    position: relative;
    z-index: 2;

    h2, p {
      color: #fff;
    }
  }

  .form-control {
    height: auto !important;
  }
}

.video-1 {
  position: relative;
  display: block;

  .play {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 50%;

    > span {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
  }

  &:hover {
    -webkit-box-shadow: 0 5px 30px -10px rgba(0, 0, 0, 0.3);
    box-shadow: 0 5px 30px -10px rgba(0, 0, 0, 0.3);
  }
}

#loader {
  position: fixed;
  width: 96px;
  height: 96px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
  border-radius: 16px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .2s ease-out, visibility 0s linear .2s;
  -o-transition: opacity .2s ease-out, visibility 0s linear .2s;
  transition: opacity .2s ease-out, visibility 0s linear .2s;
  z-index: 2000;

  &.fullscreen {
    padding: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    background-color: #fff;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  &.show {
    -webkit-transition: opacity .4s ease-out, visibility 0s linear 0s;
    -o-transition: opacity .4s ease-out, visibility 0s linear 0s;
    transition: opacity .4s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
  }

  .circular {
    -webkit-animation: loader-rotate 2s linear infinite;
    animation: loader-rotate 2s linear infinite;
    position: absolute;
    left: calc(50% - 24px);
    top: calc(50% - 24px);
    display: block;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  .path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    -webkit-animation: loader-dash 1.5s ease-in-out infinite;
    animation: loader-dash 1.5s ease-in-out infinite;
    stroke-linecap: round;
  }
}

@-webkit-keyframes loader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes loader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes loader-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -136px;
  }
}

@keyframes loader-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -136px;
  }
}

/*engineers*/

.services-1-wrap {
  .service-1 {
    padding: 20px 30px;
    border: 1px solid #efefef;
    border-right: none;
    position: relative;

    .number {
      position: absolute;
      right: 10px;
      top: 10px;
      font-weight: 400;
      font-family: "Oswald", sans-serif;
      color: #dcdcdc;
    }

    .service-1-icon {
      position: relative;
      margin-left: 20px;

      &:before {
        position: absolute;
        content: "";
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        z-index: -1;
        left: -20px;
        border-top: 40px solid transparent;
        border-bottom: 40px solid transparent;
        border-right: 40px solid #1089ff;
      }

      > span {
        color: #000;
        font-size: 4rem;
      }
    }

    .service-1-content {
      .service-heading {
        font-size: 1.5rem;
        color: #000;
        font-weight: 400;
      }

      p {
        font-size: 15px;
      }
    }
  }

  [class^="col-"]:last-child .service-1 {
    border-right: 1px solid #efefef;
  }
}

@media (max-width: 1199.98px) {
  .services-1-wrap .service-1 {
    border: 1px solid #efefef;
    margin-bottom: 30px;
  }
}

.header-top {
  > .container {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .quick-contact-icons {
    .icon {
      margin-right: 10px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      position: relative;
      background: #1089ff;

      span {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        font-size: 20px;
        line-height: 0;
        color: #fff !important;
      }
    }

    .text {
      .h4 {
        font-size: 1.2rem;
        color: #000;
        margin-bottom: 0;
      }

      .caption-text {
        font-size: 1rem;
      }
    }
  }
}

.block-2 {
  background: #09162a;
  padding: 7rem 0;

  .img-overlap {
    margin-top: -150px;
  }
}

.block-3 {
  background: #09162a;
  padding: 7rem 0;
  margin-bottom: 14rem;
}

.section-title {
  color: #fff;
  font-weight: 300;

  strong {
    font-weight: 700;
  }
}

.section-subtitle {
  font-weight: 300;
  color: #1089ff;
  text-transform: uppercase;
  font-size: 1.3rem;
}

.line-height-0 {
  line-height: 0;
}

.projects-carousel-wrap {
  position: relative;
  margin-bottom: -200px;
}

.project-item {
  position: relative;
  overflow: hidden;

  &:before {
    content: "";
    background: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
  }

  img {
    -webkit-transition: .5s all ease;
    -o-transition: .5s all ease;
    transition: .5s all ease;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  .project-item-contents {
    z-index: 9;
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    opacity: 0;
    visibility: hidden;

    .project-item-category {
      color: #1089ff;
      font-family: "Oswald", sans-serif;
      text-transform: uppercase;
    }

    .project-item-title {
      color: #fff;
      margin-bottom: 0;
    }
  }

  &:hover {
    &:before {
      opacity: 1;
      visibility: visible;
    }

    .project-item-contents {
      -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
      transform: translateY(0%);
      opacity: 1;
      visibility: visible;
    }

    img {
      -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.2);
    }
  }
}

.form-control {
  &:hover, &:focus, &:active {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

.btn {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: .2rem;
  font-family: "Oswald", sans-serif;
}

.quote-form-wrap {
  background: #09162a;
  padding: 5rem;
}

.quote-form {
  .form-control {
    border: none;
    padding-left: 0;
    padding-right: 0;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    background: transparent;
    color: #fff;

    &::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: #fff;
    }

    &::-moz-placeholder {
      /* Firefox 19+ */
      color: #fff;
    }

    &:-ms-input-placeholder {
      /* IE 10+ */
      color: #fff;
    }

    &:-moz-placeholder {
      /* Firefox 18- */
      color: #fff;
    }
  }

  .btn-primary:hover {
    background: #000;
    border-color: #000;
    color: #fff;
  }
}

.person {
  position: relative;

  figure {
    margin-bottom: 0;
    padding-bottom: 0;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
  }

  img {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
  }

  .person-contents {
    text-align: center;

    h3 {
      color: #000;
    }

    .position {
      color: #1089ff;
    }
  }

  &:hover img {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
  }

  .social {
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 2;

    a {
      display: block;
      margin-bottom: 10px;
      width: 40px;
      height: 40px;
      background: #fff;
      position: relative;

      > span {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
      }

      &:hover {
        background: #000;
        color: #fff;
      }
    }
  }
}

.testimonial {
  img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
  }

  blockquote p {
    font-size: 20px;
    color: #000;
    font-weight: 700;
  }

  .client-name {
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: #1089ff;
  }
}

.blog-entry {
  .img-link {
    display: block;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;

    img {
      -webkit-transition: .3s all ease;
      -o-transition: .3s all ease;
      transition: .3s all ease;
    }

    &:hover img {
      -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
      transform: scale(1.05);
    }
  }

  .blog-entry-contents {
    h3 {
      line-height: 1;

      a {
        color: #000;
        font-weight: 400;
        font-size: 1.5rem;
      }
    }

    .meta {
      font-size: 1rem;
      color: #b0b0b0;

      a {
        color: #b0b0b0;
        color: #1089ff;
      }
    }
  }
}

.block-4 {
  h3 {
    color: #fff;
    font-weight: 300;
    text-transform: uppercase;
  }

  p {
    color: #fff;
  }

  .form-subscribe {
    .form-control {
      color: #fff;
      border: 2px solid #fff;
      background: none;
      border-radius: 0;
    }

    .btn {
      background: #000;
      border-color: #000;
      border-radius: 0;

      &:hover, &:active, &:focus {
        -webkit-box-shadow: none;
        box-shadow: none;
        background-color: #000;
        border-color: #000;
        outline: none;
      }
    }
  }
}

.sidebar-box {
  margin-bottom: 30px;
  padding: 25px;
  font-size: 15px;
  width: 100%;
  float: left;
  background: #fff;

  *:last-child {
    margin-bottom: 0;
  }

  h3 {
    font-size: 18px;
    margin-bottom: 15px;
  }
}

.categories li, .sidelink li {
  position: relative;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #dee2e6;
  list-style: none;
}

.categories li:last-child, .sidelink li:last-child {
  margin-bottom: 0;
  border-bottom: none;
  padding-bottom: 0;
}

.categories li a, .sidelink li a {
  display: block;
}

.categories li a span, .sidelink li a span {
  position: absolute;
  right: 0;
  top: 0;
  color: #ccc;
}

.categories li.active a, .sidelink li.active a {
  color: #000;
  font-style: italic;
}

.comment-form-wrap {
  clear: both;
}

.comment-list {
  padding: 0;
  margin: 0;

  .children {
    padding: 50px 0 0 40px;
    margin: 0;
    float: left;
    width: 100%;
  }

  li {
    padding: 0;
    margin: 0 0 30px 0;
    float: left;
    width: 100%;
    clear: both;
    list-style: none;

    .vcard {
      width: 80px;
      float: left;

      img {
        width: 50px;
        border-radius: 50%;
      }
    }

    .comment-body {
      float: right;
      width: calc(100% - 80px);

      h3 {
        font-size: 20px;
      }

      .meta {
        text-transform: uppercase;
        font-size: 13px;
        letter-spacing: .1em;
        color: #ccc;
      }

      .reply {
        padding: 5px 10px;
        background: #e6e6e6;
        color: #000;
        text-transform: uppercase;
        font-size: 14px;

        &:hover {
          color: #000;
          background: #e3e3e3;
        }
      }
    }
  }
}

.search-form {
  background: #f7f7f7;
  padding: 10px;

  .form-group {
    position: relative;

    input {
      padding-right: 50px;
    }
  }

  .icon {
    position: absolute;
    top: 50%;
    right: 20px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

.post-meta {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: .2em;

  a {
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }
}

.heading-92913 {
  position: relative;
  padding-bottom: 30px;
  margin-bottom: 30px;

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 2px;
    background: #1089ff;
  }

  &.text-center:after {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}

.service-29283 {
  .wrap-icon-39293 {
    position: relative;
    margin-bottom: 20px;
    display: block;

    &:before {
      content: "";
      position: absolute;
      background: #efefef;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      z-index: -1;
    }

    > span {
      line-height: 0;
      font-size: 70px;
      color: #1089ff;
    }
  }

  h3 {
    font-size: 20px;
    color: #000;
  }
}

.counter-39392 {
  text-align: center;

  h3, span {
    color: #fff;
  }

  h3 {
    font-size: 50px;
  }
}

.service-39381 {
  background: #fff;
  -webkit-box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.2);

  h3 {
    font-size: 18px;

    a {
      color: #000;
    }
  }

  .price > span {
    border-radius: 4px;
    padding: 5px 10px;
    color: #fff;
  }
}

.testimony-39291 {
  blockquote {
    border: 1px solid #ccc;
    padding: 30px;
    border-radius: 4px;
    font-size: 16px;
    position: relative;

    &:after {
      position: absolute;
      content: "\e244";
      font-family: "icomoon";
      right: 10px;
      bottom: 10px;
      font-size: 30px;
      color: #1089ff;
    }

    p {
      font-style: italic;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .pic img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }

  .text {
    line-height: 1;

    strong {
      font-size: 15px;
      color: #000;
      margin-bottom: 4px;
    }

    span {
      font-size: 14px;
      color: #ccc;
    }
  }
}